a(name="footer")
footer
    div.footer_logo_menu 
        div.logo_descr
            div.logo
                 span Mercurio
            p We are one of the biggest creatives and we are trusted by many. Our goal is to fulfil customers demands by making them satisfied with bringing their ideas to life along side growing their business and reaching goals.  
        
        nav.add-menu  
            h3 MENU    
            a(href="#header") About us
            a(href="#main") Servises
            a(href="#form") Works
            a(href="#footer") Contacts
       
        div.contacts 
            h3 CONTACTS 
            p +38 (094) 000-00-00
            p +38 (094) 000-00-00
            p mercurio@gmail.com
            p Monday - Friday: 09:00 - 18:00
            p Saturday - Sunday: 12:00 - 16:00
        