a(name="header")
header 
    div.header_logo_menu 
        div.logo
            a(href="#")
            span Mercurio
        nav.main-menu      
            a(href="#header") About us
            a(href="#main") Servises
            a(href="#form") Works
            a(href="#footer") Contacts
            button(type="button") 
                a(href="#form") CONTACT US
                
    div.header_main 
        div.header_text 
            h1 
                span BRINGING YOUR 
                span IDEAS 
                span TO LIFE
            p We are one of the biggest creatives and we are trusted by many. Our goal is to fulfil customers demands by making them satisfied with bringing their ideas to life along side growing their business and reaching goals.  
            button(type="button") 
                a(href="#main") LEARN MORE
        div.header_image
            img(src=require('./images/kobu.jpg') alt="agency")

    div.header_decor_text_2
        h1 
            span CREATIVITY
            span /
            span IDEAS
            span /
            span INNOVATION

